.app_page {
  display: flex;
  margin-top: 5px;
}
.category > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  top: 0;
  /* align-self: flex-start; */
  z-index: 100;
  position: sticky;
}
.category {
  flex: 0.8;
  overflow: auto;
}
.type {
  display: flex;
  padding: 0px 20px;
  overflow: auto;
  position: sticky;
  top: 0;
  align-self: flex-start;
  z-index: 100;
}
.type::-webkit-scrollbar {
  display: none;
}
